/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: Arial;
	font-size: 17px;
  }
  
  #myVideo {
	/* position: fixed;
	right: 0;
	bottom: 0; */
	min-width: 100%; 
	/* min-height: 100%; */
	max-width: 97vw;
	max-height: calc(100vh - 67px);
	object-fit: fill;
  }
  
  .content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
  }
  
 .main-container{margin-top:20px}