@font-face {
    font-family: 'gelicamedium';
    src: url('fontspring-demo-gelica-medium-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicasemibold';
    src: url('fontspring-demo-gelica-semibold-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicaregular';
    src: url('fontspring-demo-gelica-regular-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicalight';
    src: url('fontspring-demo-gelica-light-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicabold';
    src: url('fontspring-demo-gelica-bold-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicaextralight';
    src: url('fontspring-demo-gelica-extralight-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicablack_italic';
    src: url('fontspring-demo-gelica-blackitalic-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicaextralight_italic';
    src: url('fontspring-demo-gelica-extralightitalic-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicamedium_italic';
    src: url('fontspring-demo-gelica-mediumitalic-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicabold_italic';
    src: url('fontspring-demo-gelica-bolditalic-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicablack';
    src: url('fontspring-demo-gelica-black-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gelicasemibold_italic';
    src: url('fontspring-demo-gelica-semibolditalic-webfont.woff2') format('woff2'),
         url('fontspring-demo-gelica-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #f8f0e3;
  overflow-x: hidden;
}

/* Changing the background colour for the header */

header {
	background-color: #8dc63f;
}

/* Changing the background color for the navigation bar */

.navbar {
	background: #f8f0e3;
	padding:15px 20px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.navbar a {
margin-right: 50px;
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: "gelica";
	font-size: 17px;
  }
  
  .content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
  }
  
   .masonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .item {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .masonry img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  .masonry img:hover {
    opacity: 0.7;
  }

  .flip-card {
    perspective: 36.5vw;
    height: 36.5vw;
  }
   .flip-card-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
   .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
   .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
   .flip-card-back {
    transform: rotateY(180deg);
    background: rgb(141,198,79);
    background: radial-gradient(circle, rgba(141,198,79,1) 0%, #f8f0e3 65%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 80px;
    color: #f8f0e3;
    border-radius: 5px;
    height: 36.5vw;
  }
 
  .outdoor
  {
    height: calc(100vh - 101.4px);
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 40px 40px;
    background-image: url("../images/dropmain.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 101px;
  }
  
  .outdoor h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    opacity: 0; /* start with 0 opacity */
    animation: fadeIn 2s ease-in-out forwards; /* apply the fade-in animation */
    @media (min-width: 992px) {
      max-width: 80%;
  }
}

  /* Define the fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    position:fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .fa-instagram {
    background:#f8f0e3;
    color: #8dc53f;
  }

  .fa-instagram:hover {
    background:#8dc53f; 
    color: #f8f0e3;  
  }

  video {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 101px;
    height: calc(100vh - 101.4px);
    display: flex;
    width: 100vw;
    object-fit:cover
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 50%;
    max-height: 50%;
  }

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 250px;
  border: 2px solid #8dc53f;
  border-radius: 20px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.value:hover {
  transform: translateY(-10px);
}

.value img {
  width: 100px;
  height: 100px;
  object-fit:initial
}
.value-title {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
.value-description {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
  width: 75%;
}

.button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #f8f0e3;
  color: black;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
	transition: background-color 0.3s ease;
  border: 2px solid black;
}

.button:hover {
  background-color: #8dc53f;
color: black;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0 40px;
}

.photo {
  width: 25%;
  padding: 10px;
  float: left;
}

.photo-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border: 2px solid #8dc53f;
  border-radius: 20px;
}

.photo-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit:contain;
}

.photo-grid img:hover {
opacity: 0.7;
}

.photo h2 {
  margin-top: 10px;
  font-size: 18px;
}

.persona {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.persona img {
width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 20px;
  margin-bottom: 20px;
}

input[type="email"] {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #8dc53f;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

input[type="submit"]:hover {
  background-color: #8dc53f;
}

/* Coporate Css */
.sidebar {
padding: 101px 15px 0;
position:sticky;
}

.points li {
margin-bottom: 20px
}